{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="work-page-form">
        <div class="form-frame">
                
                <h2 class="heading text-center">Education</h2> 
            <form action="" method="post">
                {% csrf_token %}
                {% for message in messages %}
                {{message}}
                {% endfor %}

                
                <p class="mt-1">Degree</p>
                <input type="number" class="form-control" name="degree" id="" placeholder="Genetic">
                <p class="mt-1">University</p>
                <input type="text" class="form-control" name="institution" id="" placeholder="MIT, Nigeria">
                <p class="mt-1">Duration</p>
                <input type="text"  class="form-control" name="duration"  placeholder="Jan 2022 - Sep 2028"> 
                <p class="mt-1">Description</p>
                <input type="text"  class="form-control" name="description" id="" placeholder="Conquered the mortal world">  
                
                <button type="submit"  class="auth-submit btn btn-info btn-md mt-3 w-100">Add</button>
            </form>


        </div>

{% endblock %}
            

        
           <div class="track">
            <a class="form-link" href="">
                    
                <div class="phase">
                    <div class="icon"><i class="fa-solid fa-briefcase"></i></div>
                    <h4 class="icon-title">work</h4>
                
                </div>
            </a>
            <a class="form-link" href="">
                <div class="phase">
                    <div class="icon"><i class="fa-solid fa-person-hiking"></i></i></div>
                    <h4 class="icon-title">Education</h4>
                </div>
            </a>
            <a class="form-link" href="">
                <div class="phase">
                    <div class="icon"><i class="fa-solid fa-star"></i></div>
                    <h4 class="icon-title">Skill</h4>
                </div>
            </a>
            </a>
           </div>
        </div>
    </main>
</body>
</html>